@page "/fetchdata"
@using BlazorApp1.Auth
@using BlazorApp1.Data
@inject WeatherForecastService ForecastService

@inject Authentication authentication
@inject IHttpContextAccessor httpContextAccessor


<PageTitle>Weather forecast</PageTitle>


<h1>Weather forecast</h1>

@if (string.IsNullOrEmpty(ISAuthenticated))
{
    <h2>User is <b>NOT</b> authorized</h2>
}
else
{
    <h3>@ISAuthenticated</h3>


    @if (forecasts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in forecasts)
                {
                    <tr>
                        <td>@forecast.Date.ToShortDateString()</td>
                        <td>@forecast.TemperatureC</td>
                        <td>@forecast.TemperatureF</td>
                        <td>@forecast.Summary</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div>
        If you refresh this page, then httpContext will be renewed and all claims will be gone
    </div>
}
